    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }

    body{
        font-family: 'Poppins', sans-serif;
    }
    .container{
        max-width: 1200px;
        margin: 0 auto;     
    }
    .header{
        display: flex;
        position: relative;    
    }
    .menu{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
    }

    .logo{
        color: #303030;
        font-size: 25px;
        font-weight: 800;
    }
    .menu .navbar ul li{
        position: relative;
        float: left;
    }

    .menu .navbar ul li a {
        font-size: 18px;
        padding: 20px;
        color: #303030;
        display: block;
        font-weight: 600;
    }

    #menu{
        display: none;

    }
    .menu-icono{
        width: 25px;
    }
    .menu label{
        cursor: pointer;
        display: none;
    }
    .bg{
        position: absolute;
        width: 700;
        z-index: -1;
        right: 0;
    }
    .esp{
        position: absolute;
        top: 700px;
        bottom: 0;
        width: 350px;
    }
    .header-info{
        display: flex;
        align-items: center;
        margin-top: 100px;
    }
    .header.txt{
        width: 50px;
        padding-right: 35px;
    }

    .header.txt h1{
        font-size: 55px;
        line-height: 70px;
        font-weight: 600;
        color: #303030;
        margin-bottom: 25px;
        text-transform: capitalize;
    }
    .header.txt p{
        font-size: 16px;
        color: #545454;
        margin-bottom: 35px;
    }

    .btn-1{
        display: inline-block;
        background-color: #FF9F0D;
        padding: 13px 30px;
        border-radius: 25px;
        color: #FFFFFF;
        text-transform:  capitalize;
        
    }
    .btm-1:hover{
        background-color: #ee9905;

    }
    .header-img{
        width: 100%;
    }
    .header-img img{
        width: 650px;
    }

    .info{
        padding: 100px;
        display: flex;
        justify-content: space-between;   

    }

    .info-1{
        width: 300px;
        padding: 15px 25px;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }
    .info-1 img{
        width: 35px;
    }
    .info-1 h3{
        font-size: 18px;
        color: #303030;
        margin-bottom: 10px;
    }
    .info-1 p{
        font-size: 16px ;
        color: #545454;
    }

    .nosotros{
        position: relative;
    }
    .bg-2{
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        z-index: -1;
    }
    .nosotros-info{
        padding:  100px 0;
        display: flex;
        align-items: center;
    }
    .nosotros-img{
        width: 50%;
    }
    .nosotros.img{
        width: 600px;
    }
        
    .nosotros-txt {
        
        width: 50%;
        font-size: 16px;
        color: #545454;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .nosotros-txt h2{
        font-size: 45px;
        color: #303030;
        margin-bottom: 50px;
        text-align: center;

    }
    .nosotros-txt h3{
        font-size: 25px;
        color: #303030;
        margin-bottom: 50px;
        text-align: center;

    }
    .nosotros-txt p{
        font-size: 18px;
        color: #545454;
        margin-bottom: 50px;
        text-align: center;
    }

    .productos-info{    
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 3rem;
        
    }
    .productos{
        padding: 80px;
        text-align: center;
        
    }
    .productos h2{
        font-size: 45px;
        color: #303030;
        margin-bottom: 30px;
    }
    .productos p{
        font-size: 18px;
        color: #545454;
        margin-bottom: 70px;
        padding: 0 200px;
    }
    

    .productos{
        padding-bottom: 35px;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0.1) ;
        border-radius: 25px;
    }
    .productos img{
        width: 50%;
        height: 150px;
        border-radius: 25px 25px 0 0;
    }
    .productos h3{
        font-size:  20px;
        columns: #303030;
        margin-top: 15px;
    }
    .productos p{
        font-size: 16px;
        padding: 30px;
        color: #545454;
        margin: 0;
    }
        .form-container {
            width: 1000px;
            padding: 300px;
            justify-content: center;
            align-items: center;
         
        }

        .form input[type="text"],
        .form input[type="email"] {
          width: 100%;
          height: 40px;
        }
        .form textarea {
            width: 100%;
            height: 200px;
          }
  
      .form-container h1 {
        text-align: center;
      }
  
      .form {
        margin-bottom: 20px;
      }
  
      .error-message {
        color: red;
        font-size: 14px;
      }
   


    